.item-card {
    margin:5px;
    padding:15px;
    border-radius:20px;
    border: 2px solid #000;
}

@media (max-width:480px) {
    .item-card {
        width:90%;
    }
}

.item-img {
    width:200px;
}



.item-title{
    font-size:20px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.item-price{
    font-size:20px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}